﻿* {
    box-sizing: border-box
}
.menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.accordion {
    background-color: #CFD8DC;
    color: #212121;
    cursor: pointer;
    padding: 16px;
    width: 50%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 18px;
    transition: 0.5s;
    border: 1px solid;
    border-color:black;
    margin:5px;
}

    .active, .accordion:hover {
        background-color: #607D8B;
        color: #fff;
    }

    .accordion:after {
        content: '\2B9F';
        color: #212121;
        font-size: 18px;
        font-weight: bold;
        float: right;
        margin-left: 5px;
    }

.active:after {
    content: "\2B9D";
    color: #fff;
}

.panel {
    color: #212121;
    background-color: #fff;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    width: 50%;
    padding: 0 10px;
}
